.container {
  display: flex;
}

.login {
  width: 150px;
  height: 50px;
  background: beige;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
